body {
    font-family: 'Roboto', 'Raleway';
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.header {
    background-color: bisque;
}

.header-navigation {}

.header-logo {}

.header-item {}

.header-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-link:hover {
    color: chartreuse;
}

.header-link:focus {
    color: chartreuse;
}

.address {}

.address-mail,
.address-phone {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-mail:hover {
    color: chartreuse;
}

.address-phone:hover {
    color: chartreuse;
}

.address-item {}

.main {}

/* --------------------BUTTONS-------------------- */

.buttons {}

.buttons-list {
}

.buttons-item {}

.buttons-title {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
}

.list {}


/* --------------------PHOTOS-------------------- */

.photos {}

.photos-list {

}

.list {}

.photos-item {}

.photos-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.photos-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/* --------------------FOOTER-------------------- */
.footer {}

.footer-logo {}

.footer-item {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;4F4FD;
}